body {
  font-family: "Roboto", sans-serif;
  color: #444444;
  background: #FFFFFF9C;
}

a {
  color: #3fbbc0;
  text-decoration: none;
}

a:hover {
  color: gold;
  text-decoration: none;
}

.d-flex.login-cursor:hover {
  cursor: pointer;
  color: gold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid gold;
  border-top-color: #ecf8f9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
.footer-bg{
  position: relative;
  background-image: url('../img/footer.png');
  background-size: cover;
  background-position: center;
  height: 47px;
}
.footer-container{
  height: 47px;
  background-color: rgba(143, 10, 3, 0.8);
  box-shadow: 0px 4px 4px 0px #00000005;
}
.container-foot{
  height: 47px;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #8F0A03;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: gold;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #FFFFFF9C;
  color: #FFFFFF9C;
  height: 58px;
  font-size: 16px;
  font-weight: 600;
  z-index: 996;
  transition: all 0.5s;
}
.button-maroon{
  background-color: #8F0A03;
  color: white;
}
.f-container {
  margin-top: 58px;
  position: relative;
  background-image: url('../img/maxresdefault.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 256px;
}

.bg-f-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 256px;
  margin-top: 58px;
  background-color: #29292999;
}

.color-white{
  color: #FFFFFF;
}
.down-container{
  margin-top: 70px;
}
.color-gold{
  color: gold;
}
.container-line {
  width: 50px;
  color: gold;
  border: 2px solid #FFBB38;
  background-color: gold;
  margin-left: 0px;
}

#second-container {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
#topbar.topbar-scrolled {
  top: -40px;
}

#topbar i {
  padding-right: 6px;
  line-height: 0;
}
.maroon-button{
  background-color: #8F0A03;
}
.maroon-button:hover {
  background-color: gold;
}

.form-check-input {
  width: 20px; 
  height: 20px; 
}

.form-check-input:checked {
  border-color: #8F0A03; 
  box-shadow: 0 0 0 2px #8F0A03; 
  background-color: #8F0A03; 
}

.form-check-input:focus {
  border-color: #8F0A03; 
  box-shadow: 0 0 0 2px #8F0A03; 
}

.form-control:focus {
  border-color:  #8F0A03;
  box-shadow: 0 0 0 1px  #8F0A03;
}

.maroon{
  color: #8F0A03;
}

.custom-container{
  width: 240px;
  height: 450px;
  cursor: pointer;
}

.container-sample{
  height: 50px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  top: 40px;
  /* box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); */
}

@media (max-width: 992px) {
  #header {
    padding: 15px 0;
  }
}

#header.header-scrolled {
  top: 0;
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#header .logo a {
  color: #555555;
}

#header .logo img {
  max-height: 10px;
}

